@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to my webApp</a>.</p>
</div>
<p class="aboutApp" style="color:darkmagenta;" >
        Welcome to our Hospital! We're here to provide you with the best treatments and with
        the best care. 
    </p>
<div class="pic">
    <img src="~/img/images.jpg" alt="Hospital" width="700" height="600">
    
</div>
